{{#*inline "og_title" ~}}dat.ist{{/inline ~}}
{{#*inline "og_description" ~}}secure http debug{{/inline ~}}

{{#*inline "heads" ~}}
    <script src="/assets/dist/main.js"></script>
{{/inline ~}}

{{#*inline "page" ~}}
    <!--<p class="top center">welcome to dat1st</p>-->
    <div id="main"></div>
{{/inline ~}}
{{~> base }}
