{{#*inline "og_title" ~}}dat.ist{{/inline ~}}
{{#*inline "og_description" ~}}secure http debug{{/inline ~}}
{{#*inline "og_url" ~}}/onboard{{/inline ~}}
{{#*inline "title" ~}}onboard{{/inline ~}}
{{#*inline "subpath" ~}} | onboard{{/inline ~}}

{{#*inline "heads" ~}}
    <script src="/assets/dist/onboard.js"></script>
{{/inline ~}}
{{#*inline "page" ~}}
    <div id="main"></div>
{{/inline ~}}
{{~> base }}
